    <header>
            <!-- Navbar -->
            <div class="j-top">
                <div class="j-bar j-navy j-wide j-padding">
                    <div class="j-left">
                        <a href="/" class="j-bar-item j-button"><img src="/img/amazon-transparent.png" alt="amazon" width="13%"></a>
                    </div>
                    <!-- Float links to the right -->
                    <div class="j-right">
                        <a href="/" class="j-bar-item j-button">Home</a>
                        <a href="/user/register" class="j-bar-item j-button">Registration</a>
                        <a href="/user/login" class="j-bar-item j-button">Login</a>
                        <a href="/product/list" class="j-bar-item j-button">Products</a>
                    </div>
                </div>
            </div>
    </header>