 <!-- Float links to the right -->
 <div class="j-right">
    <a href="/" class="j-bar-item j-button">Home</a>
    <a href="/product/list" class="j-bar-item j-button">Product</a>
    <!-- This test to see if session exists if it does show this-->
                {{#if user}}
                    <a href="/dashboard" class="j-bar-item j-button">Dashboard</a>
                    <a href="/user/logout" class="j-bar-item j-button">logout </a>
                    <a href="/cart" class="j-bar-item j-button">Order</a>
                {{else}}
                    <a href="/user/login" class="j-bar-item j-button">Login</a>
                    <a href="/user/register" class="j-bar-item j-button">Registration </a>         
                {{/if}}
</div>