<div class="j-container j-padding-32">
    <h3 class="j-border-bottom j-border-light-grey j-padding-head">Admin Dashboard</h3>
    <h2>Welcome {{user.firstName}} {{user.lastName}}</h2>
    <div>
        <a href="/login/logout" >Logout</a>
    </div>
</div>