<div class="j-container j-padding-32">
        <h3 class="j-border-bottom j-border-light-grey j-padding-head">User Dashboard</h3><br>
        <h2>Welcome {{user.firstName}} {{user.lastName}}</h2>
    <div>
        <a href="/cart">Cart</a>
		<a href="/product/list">Product list</a>
        <a href="/user/logout">logout</a>
    </div>
</div>