<div class="j-container j-padding-32" id="productAdd">
    <h3 class="j-border-bottom j-border-light-grey j-padding-head">Add Product</h3>
    
    <form method="POST" action="/product/add" enctype="multipart/form-data">

        <label>Product Name</label><br>
        <input type="text" name="name" id="name"> <br><br>

        <label>Product Price</label><br>
        <input type="text" name="price" id="price"> <br><br>

        <label>Description</label> <br>
        <textarea id="description" name="description"></textarea><br><br>

        <label>Product quantity</label><br>
        <input type="text" name="quantity" id="quantity"> <br><br>

        <label>Image Upload</label><br>
        <input type="file" name="productPic" id="productPic"> <br><br>

        <label>Category</label><br>
        <select name="category">
            <option value="Shop Valentine's Day gifts">Shop Valentine's Day gifts</option>
            <option value="Cleaning supplies">Cleaning supplies</option>
            <option value="Shop deals in Tools">Shop deals in Tools</option>
            <option value="Smart home">Smart home</option>
        </select>
        <br><br>

        <label>Best seller</label><br>
        <select name="bestseller">
                <option value="true">Yes</option>
                <option selected value="false">No</option>
        </select><br><br>

        <input type="submit" value="Add product">

    </form>
</div>
